---
import Layout from '@/layouts/Layout.astro'
import Menu from '@/components/menu.astro'
---

<Layout title='Sail into the unknown.'>
  <main
    class='m-4 border-white text-white border-2 flex flex-grow flex-col w-auto h-auto bg-no-repeat bg-center bg-cover bg-opacity-50 relative'
    style='background-image:  url(candles.jpg);'
  >
    <Menu />
    <section
      class='flex flex-col gap-4 px-4 w-full h-full justify-center items-center flex-grow'
    >
      <div
        id='bio'
        class='flex flex-col bg-black text-white w-auto sm:w-96 p-8 md:min-w-[600px]'
      >
        <h1 class='text-3xl mb-4'>Bio</h1>
        <div class='mb-8'>
          Jyväskyläläinen metallikollektiivi In Thorns julkaisi tammikuussa 2024
          debyyttialbuminsa "the last bead on a cord of songs", jolla yhtye
          nousi Kaaoszinen lukijoiden äänestyksellä Vuoden tulokas 2024
          -listaukseen. Yhtyeen kokenut kaarti on valmis keikkalavoille vetämään
          heidän näköisen shownsa täydellä sydämellä. Kollektiivi kuvailee
          musiikkiaan metallina, jota ohjailee murskaavat soundimaailmat,
          nihilistiset ja tummanpuhuvat sanoitukset sekä isot melodiat. Yhtye
          ammentaa inspiraatiota surrealistisesta taiteesta ja modernista
          kauhusta.
        </div>
        <div>
          <h2 class='text-xl mb-4'>Jäsenet</h2>
          <ul>
            <li>Kristian Ruutala (huutolaulu), nyk. Kätfish</li>
            <li>Aleksi Statsevich (huutolaulu), ex-Funeral For The Masses</li>
            <li>
              Aavee Tikkanen (laulu/kitara), ex-See No Sorrow, ex. Kätfish
            </li>
            <li>
              Aleksi Ruotsalainen (kitara), ex-Founding Neverland, nyk. Arttu
              Lindeman
            </li>
            <li>Jimi Kinnunen (rummut), nyk. Luna Kills</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>
