---
import { medusa } from '../../../scripts/medusa'
import EcommLayout from '../../../layouts/EcommLayout.astro'
import Main from '../../../components/main.astro'
import Title from '../../../components/title.astro'

const { handle } = Astro.params

if (!handle) {
  throw new Error('Product is required')
}

const productResponse = await medusa.products.list({
  handle: handle
})

if (!productResponse) {
  throw new Error('productResponse is ' + productResponse)
}

const product = productResponse.products[0]

if (!product) {
  throw new Error('Product not found')
}

const title = product.title || handle
---

<!-- Why the fuck this breaks the product page?  style='background-image: url("candles.jpg")' -->
<EcommLayout title={title}>
  <Main>
    <section
      class='border-white border-2 mb-32 mt-32 h-screen max-w-[1000px] w-full p-16 grid grid-cols-2 gap-4'
    >
      <div class='col-auto border-white border-2 flex'>image here</div>
      <div class='col-auto border-white border-2 flex-col gap-8'>
        <Title>{title}</Title>
        <p>info here</p>
      </div>
    </section>
  </Main>
</EcommLayout>
