---
import { medusa } from '@/scripts/medusa'
import EcommLayout from '@/layouts/EcommLayout.astro'
import Main from '@/components/main.astro'
import Title from '@/components/title.astro'
import Badge from '@/components/badge.astro'
import RadioButton from '@/components/RadioButton.astro'
import Button from '@/components/Button.astro'

import IsInStock from '@/components/preact/IsInStock'
import AddToCartForm from '@/components/preact/AddToCartForm'
import type { VariantType } from '@/components/preact/AddToCartForm'

const { handle } = Astro.params

if (!handle) {
  throw new Error('Product is required')
}

const productResponse = await medusa.products.list({
  handle: handle
})

if (!productResponse) {
  throw new Error('productResponse is ' + productResponse)
}

const product = productResponse.products[0]

if (!product) {
  throw new Error('Product not found')
}

const title = product.title || handle

const { variants } = product
---

<EcommLayout title={title}>
  <Main>
    <section
      class='border-white border-2 my-16 h-auto max-w-[1000px] w-full p-16 grid grid-cols-2 gap-4 bg-opacity-90 bg-black'
    >
      <div class='col-auto'>
        <div>
          <img src={product.thumbnail} alt='' class='h-auto w-full' />
        </div>
      </div>
      <div class='col-auto flex flex-col gap-8 items-start'>
        <div class='flex flex-col gap-2 items-start'>
          <IsInStock client:only='preact' />
          <Title>{title}</Title>
        </div>
        <p>{product.description}</p>
        <AddToCartForm
          client:only='preact'
          variants={product.variants as VariantType[]}
        />
      </div>
    </section>
  </Main>
</EcommLayout>
