---
import EcommLayout from '@/layouts/EcommLayout.astro'
import Main from '@/components/main.astro'
import Title from '@/components/title.astro'

//@ts-ignore
import { Cart } from '@/components/preact/Cart'

const title = 'Cart'
---

<EcommLayout title={title}>
  <Main>
    <section
      class='border-white border-2 my-16 h-auto max-w-[1000px] w-full p-16 bg-opacity-90 bg-black items-center justify-center flex flex-col gap-4'
    >
      <Title>{title}</Title>
      <Cart client:only='preact' />
    </section>
  </Main>
</EcommLayout>
