---
import { medusa } from '@/scripts/medusa'
import EcommLayout from '@/layouts/EcommLayout.astro'
import ProductCard from '@/components/productCard.astro'
import Main from '@/components/main.astro'
import Title from '@/components/title.astro'

const productsResponse = await medusa.products
  .list()
  .catch((err) => console.log(err))

if (!productsResponse) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found'
  })
}

const { products } = productsResponse

console.log(products[0])
---

<style></style>
<EcommLayout title='In Thorns Web Store'>
  <Main>
    <section class='container w-full flex flex-col px-8 gap-8'>
      <Title>Products</Title>
      <div
        class='flex flex-row gap-16 flex-wrap w-full h-full justify-center py-4'
      >
        {
          products ? (
            products.map(({ handle, thumbnail, title }) => (
              <ProductCard
                image={thumbnail || ''}
                handle={handle || ''}
                title={title || ''}
                price={25}
              />
            ))
          ) : (
            <Title heading='h2'>TBA</Title>
          )
        }
      </div>
    </section>
  </Main>
</EcommLayout>
