---
interface Props {
  title: string
  href: string
  body: string
}

const { title, href, body } = Astro.props
---

<div>
  <a class='text-black' href={href}>{title}</a>
  <div class='text-black'>{body}</div>
</div>
