---
type Props = {
  imageUrl?: string
}

const { imageUrl } = Astro.props

const imgUrl = imageUrl || '/candles.jpg'
---

<main
  class='m-4 border-white text-white border-2 flex flex-col h-full flex-1 gap-8 items-center bg-no-repeat bg-contain md:bg-cover bg-top bg-fixed'
  style=`background-image: url("${imgUrl}")`
>
  <nav
    class='h-24 w-full grid grid-cols-5 gap-4 px-8 md:px-16 items-center justify-center'
  >
    <a href='/shop' class='col-start-2 font-khmer text-xl ml-auto'>Shop</a>
    <a href='/shop' class='mx-auto col-start-3'>
      <img src='/it-logo-white.png' class='h-20' alt='In Thorns logo' />
    </a>
    <a href='/shop/about' class='col-start-4 font-khmer text-xl mr-auto'
      >About</a
    >
    <!-- TODO ALL LINK TO CART -->
    <a
      id='cart-link'
      class='bg-black border-2 border-white px-4 py-2 self-center ml-auto col-start-5'
      href='/shop/cart/'
    >
      Cart
    </a>
  </nav>
  <slot />
</main>
