---
import Social from './social.astro'
---

<nav class='w-full flex flex-row px-6 items-center justify-between z-50'>
  <ul class='flex flex-row gap-2 h-14 md:absolute'>
    <Social link='https://www.instagram.com/inxthorns/' src='ig.png' />
    <Social
      link='https://open.spotify.com/artist/4b0Yziy8xm1VtefVI9ri2d?si=W41OIFdzQ5io5Lr0VZanwQ'
      src='spotify.png'
    />
    <Social link='https://www.youtube.com/@inthornsband' src='yt.png' />
    <Social link='https://www.facebook.com/inthorns' src='fb.png' />
  </ul>
  <img src='it-logo-white.png' class='w-48 md:w-80 p-4 md:mx-auto' />
  <ul class='flex flex-row gap-2 h-14 md:absolute right-5'>
    <ul class='flex flex-row gap-8 mr-8'>
      <li><a href='/' class='hover:underline text-lg'>Home</a></li>
      <li>
        <a href='/press-kit' class='hover:underline text-lg'>Press kit</a>
      </li>
      <li><a href='/contact' class='hover:underline text-lg'>contact</a></li>
    </ul>
  </ul>
</nav>
