---
import { Image } from 'astro:assets'

interface Props {
  link: string
  src: string
  alt: string
}

const { link, src, alt } = Astro.props
---

<li>
  <a href={link} target='_blank' rel='noopener noreferrer' aria-label={alt}>
    <Image src={src} alt={alt} width={32} height={32} class='w-8' />
  </a>
</li>
